@use "../../sass/colors.module.scss" as color;
@use "../../sass/responsive.module.scss" as responsive;
.container {
  grid-column: 1/4;
  background: #f6f6fd;
  padding: 1rem 0.5rem;
  .content {
    background: transparent;
    height: 100%;
    .header {
      border-bottom: 1px solid color.$primeryGray;
      padding-bottom: 1rem;
      .input {
        display: flex;
        background: color.$primeryGray;
        border-radius: 0.2rem;
        padding: 0.5rem;
        justify-content: start;
        align-items: center;
        input {
          outline: none;
          border: none;
          background: transparent;
          font-size: 1rem;
          font-weight: 700;
        }
        svg {
          color: color.$lighterGray;
          margin-right: 0.5rem;
          width: 25px;
          height: 25px;
        }
      }
    }
    .contantsContainer {
      display: flex;
      position: relative;
      flex-direction: column;

      .contants {
        flex: 1;
      }
      .profileOwnerAccount {
        position: relative;
        margin: 0.5rem;
        z-index: 111;
        bottom: 0;
        #ownerProfile {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
        }
      }
    }
  }
}
